/* Header */
.header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
    color: #630404;
    text-align: center ;
}

/* Main body */
body{
  background-color: #DDD8D8;
}

.boxes h1 {
      font-family: 'Dancing Script', cursive;;
      margin: auto auto;
      color: #C7A479;
      font-size: 4rem;
  }


.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxes .box{
  background-color: #630404;
  margin: 1rem;
  padding: 1rem;
  width: 6rem;
  height:6rem;
  text-align: center;
}

.boxes .box a {
  text-decoration: none;
}

.special {
    background-color: #C7A479 !important;
  }

.special h1 {
  color: #630404 !important;
}
