@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* Header */
.header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
    color: #630404;
    text-align: center ;
}

/* Main body */
body{
  background-color: #DDD8D8;
}

.boxes h1 {
      font-family: 'Dancing Script', cursive;;
      margin: auto auto;
      color: #C7A479;
      font-size: 4rem;
  }


.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxes .box{
  margin: 1rem;
  padding: 1rem;
  width: 6rem;
  height:6rem;
  text-align: center
}

.boxes .box a {
  text-decoration: none;
}

/* Les cas spéciaux */

/* ----------Le jour */
.boxes .box .jour{
  background-color: #630404;
}

/* ----------Special */
.special {
    background-color: #C7A479 !important;
  }

.special h1 {
  color: #630404 !important;
}

/* ----------Soir */

.boxes .box .soir {
    background-color: #001d53 !important;
  }

.boxes .box .soir h1 {
  color: #C7A479 !important;
}
