@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
  background-color: #DDD8D8;
}

.header_show h1{
  font-family: 'Dancing Script', cursive;
  font-size: 6rem;
  color: #630404;
  text-align: center ;
}

.intro {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: #630404;
  text-align: left ;
}

.haiku p{
  margin-top: 8rem;
  text-align: center;
  color: #003806;
}

.trajet {
  margin-top: 8rem;
  color: #003806;
}

.bolder{
  font-weight: bolder;
  color: #003806;
}

.playlist{
  text-align: center;
}

.reco_insta ul li a{
  text-decoration: none;
  color: #630404;
}
