@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.header {
  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
    color: #630404;
    text-align: center ;
  }
}

.boxes {
  .box{
    h1 {
      font-family: 'Dancing Script', cursive;;
    }
  }
}
